<html>

<div>
  Enter hit to send 

</div>
<form action="/send" method="POST">
<button>Okay</button>
</form>

</html>
<script>
let email=prompt("enter email account");
 
  /*let api=`https://emailverification.whoisxmlapi.com/api/v1?apiKey=at_u0HOHsrhKqKt3hiciQJOavqSUkBIj&emailAddress=${email}`
fetch(api).then((Response)=>{
return Response.json();
}).then((r)=>{
console.log(r);
}).catch((err)=>{
console.log(err);
})*/

const check=()=>{
  
if(email==null ||email==" " || email.length<5){

     alert("no-no-no");   //rule break
    email=prompt("enter email account");

}
else if(email){
   document.cookie=`email=${email}`;
    clearInterval(check);
   }

}



setInterval(check,100);
 
    
//regualr expression
//let reg=/harry/
</script>


